html {
	font-size: 1rem;
	line-height: 1.5rem;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


::selection {
	background: rgba(0, 68, 102, 0.996);
	text-shadow: none;
}


body {
	color: #7c7c7c;
	background-color: #101010;
}
