*               text=auto eol=lf whitespace=indent-with-non-tab,-tab-in-indent,tabwidth=4

*.md            text diff=markdown whitespace=tab-in-indent,-indent-with-non-tab,tabwidth=4

*.html          text diff=html
*.xhtml         text diff=html
*.css           text diff=css
*.s[ac]ss       text diff=css

.gitattributes  text export-ignore
.gitignore      text export-ignore
.gitmodules     text export-ignore
