*               text=auto eol=lf whitespace=-tab-in-indent,-indent-with-non-tab

*.toml          eol=lf
*.yaml          eol=lf whitespace=tab-in-indent,tabwidth=4
*.yml           eol=lf whitespace=tab-in-indent,tabwidth=4

*.json          eol=lf
*.xml           eol=lf

*.txt           eol=lf
*.md            eol=lf diff=markdown whitespace=tab-in-indent,tabwidth=4
*.rst           eol=lf whitespace=tab-in-indent,tabwidth=8

*.html          eol=lf diff=html
*.xhtml         eol=lf diff=html
*.css           eol=lf diff=css
*.s[ac]ss       eol=lf diff=css
*.js            eol=lf

*.gif           binary
*.jpeg          binary
*.jpg           binary
*.png           binary
*.webp          binary
*.svgz          binary
*.svg           eol=lf

LICENSE*        eol=lf

.gitattributes  eol=lf export-ignore
.gitignore      eol=lf export-ignore
.gitmodules     eol=lf export-ignore
